.text {
    z-index: 1;
    position:absolute;
}

.ctag {
    font-family: bebasKai;
    font-size: 35px;
    color: white;
}

.twitter {
    font-family: bebasKai;
    font-size: 30px;
    color: #66ffff;
    position: absolute;
    left: 5px;
}

.commentator1{
    position: fixed;    
    top: 555px;
    left: 330px;
    height: 110px;
    width: 270px;
    white-space: nowrap;
}

.commentator2{
    position: fixed;    
    top: 555px;
    left: 605px;
    height: 110px;
    width: 270px;
    white-space: nowrap;
}

.board {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    z-index: -1;
}