.container {
    z-index: 1;
    position:absolute;
	white-space: nowrap;
}

.board {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    z-index: -1;
}

.tag {
    font-family: bebasKai;
    font-size: 23px;
    color: white;
}

.score {
    font-family: bebasKai;
    font-size: 28px;
    color: white;
}

.ctag {
	font-family: bebasKai;
    font-size: 25px;
    color: white;
}

#round {
	font-family: bebasKai;
	position: fixed;
	top: 1px;
	left: 570px;
	width: 128px;
	height: 29px;
	font-size: 25px;
	text-align: center; 
	white-space: nowrap;
}

#p1Score{
	position: fixed; 
	top: 303px;
	left: 95px;
}

#p2Score{
	position: fixed; 
	top: 303px;
	left: 1170px;
}

#player1{
	position: fixed; 
	top: 615px;
	left: -24px;	
	width: 250px;
	height: 29px;
	text-align: center;
}

#player2{
	position: fixed;
	top: 615px;
	left: 1050px;	
	width: 250px;
	height: 29px;
	text-align: center;
}

#p1char {
    position: absolute;
    top: 307px;
    left: 37px;
    display: block;
}

#p1TMchar {
    position: absolute;
    top: 305px;
    left: 24px;
    display: block;
	visibility: hidden;
}

#p2char {
    position: absolute;
    top: 307px;
    left: 1115px;
    display: block;
}

#p2TMchar {
    position: absolute;
    top: 305px;
    left: 72px;
    display: block;
	visibility: hidden;
}

#p1flag {
    position: absolute;
    top: 306px;
    left: 142px;
    display: block;
}

#p1TMflag {
    position: absolute;
    top: 300px;
    left: 24px;
    display: block;
	visibility: hidden;
}
    /*left: 1230px;*/
#p2flag {
    position: absolute;
    top: 306px;
    left: 1215px;
    display: block;
}

#p2TMflag {
    position: absolute;
    top: 300px;
    left: 72px;
    display: block;
	visibility: hidden;
}


#c1tag{
	position: fixed; 
	top: 440px;
	left: 940px;
	font-size: 32px;
	visibility: hidden;
}

#c2tag{
	position: fixed; 
	top: 485px;
	left: 940px;	
	font-size: 32px;
	visibility: hidden;
}