.container {
    z-index: 1;
    position:absolute;
	white-space: nowrap;
}

.board {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    z-index: -1;
}

.playerBlock{
    display: block;
    padding: 1px;
}

.tag {
    font-family: bebasKai;
    font-size: 23px;
    color: white;
    display: inline-block;
}

.charIcon {
    position: absolute;
    left: 5;
    /*display: inline-block;*/
}

.flag {
    position: absolute;
    right: 5;
}

.score {
    font-family: bebasKai;
    font-size: 28px;
    color: white;
}

.ctag {
	font-family: bebasKai;
    font-size: 25px;
    color: white;
}

#round {
	font-family: bebasKai;
	position: fixed;
	top: 1px;
	left: 375px;
	width: 128px;
	height: 29px;
	font-size: 25px;
	text-align: center; 
	white-space: nowrap;
}

#p1Score{
	position: fixed; 
	top: 243px;
	left: 900px;
}

#p2Score{
	position: fixed; 
	top: 533px;
	left: 900px;
}

#player1{
	position: fixed; 
	top: 230px;
	left: 941px;	
	width: 272px;
	height: 60px;
	text-align: center;
}

#player2{
	position: fixed;
	top: 520px;
	left: 941px;	
	width: 272px;
	height: 60px;
	text-align: center;
}

#c1tag{
	position: fixed; 
	top: 440px;
	left: 940px;
	font-size: 32px;
	visibility: hidden;
}

#c2tag{
	position: fixed; 
	top: 485px;
	left: 940px;	
	font-size: 32px;
	visibility: hidden;
}